@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bad+Script&family=Playball&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 100vh;
  background-color: #914f1e;
  z-index: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo p {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.logo img {
  width: 30%;
}
.widget {
  width: 80%;
  height: 110px;
}
.nav-item a {
  font-size: 30px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-left: 300px;
}
.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: rgb(214, 175, 124);
  border-radius: 0 0 0 100px;
  z-index: 1;
}

.navbar li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
  z-index: 2;
}
.navbar li a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  margin: 0;
  padding-right: 20px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.textContent {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.images {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 50px;
}
.images img {
  width: 28%;
  border-radius: 25px;
  padding-right: 20px;
  padding-top: 30px;
  transition: transform 0.4s ease;
}
.images img:hover {
  transform: scale(1.05);
}
.coverimage {
  width: 40%;
}

.coverimage img {
  width: 90%;
  padding-left: 30px;
  transition: transform 0.4s ease;
}
.coverimage img:hover {
  transform: rotate(-15deg);
}
.text h1 {
  font-size: 120px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.text h3 {
  font-size: 40px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text p {
  padding-top: 15px;
  font-size: 20px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.SubContent {
  width: 100vw;
  height: 100vh;
  background-color: #f7dcb9;
  display: flex;
  justify-content: space-evenly;
}
.textArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 120%;
}
.Picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.Picture img {
  width: 90%;
  transition: transform 0.4s ease;
}
.Picture img:hover {
  transform: rotate(359deg);
}
.Text {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: 55%;
}
.Text h2 {
  font-size: 70px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.Text h4 {
  font-size: 20px;
  text-align: center;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.endCard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.reviewPics {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(189, 145, 89);
  height: 70%;
}

.mainCard {
  background-color: rgb(63, 63, 63);
  height: 30%;
}
.title h2 {
  padding-top: 30px;
  font-size: 50px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.image {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.end {
  width: 20%;
  border-radius: 0 20px 0 20px;
  border-style: solid;
  border-color: #5c3110;
  border-width: 10px;
  transition: transform 0.3s ease;
}
.end:hover {
  transform: scale(1.1);
}
.Review {
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Review p {
  font-size: 20px;
  font-family: "Alata", sans-serif;
  font-weight: 600;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #613411;
}
::-webkit-scrollbar-thumb {
  background: #2e1503;
}
::-webkit-scrollbar-thumb:hover {
  background: #130800;
}
.mainCard {
  display: flex;
  justify-content: space-evenly;
  padding-top: 35px;
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.row1 h2 {
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.row1 p {
  font-size: 20px;
  text-align: start;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.row2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.row2 h2 {
  font-size: 40px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.row2 p {
  font-size: 20px;
  text-align: start;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.row2 .day {
  padding-top: 30px;
  font-weight: 900;
}
.icons img {
  width: 20px;
  margin-right: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.row3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.row3 h2 {
  font-size: 40px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.row3 h4 {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.row3 p {
  font-size: 20px;
  text-align: start;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
